body{
    font-family:'Times New Roman', Times, serif;
    margin: 5px;
    justify-content: center;
    align-items: center;
    background-color:blanchedalmond;
    color:rgb(82, 147, 150);
}

.header{
    text-align: center;
    color:#6f6062;
    padding: 0px;
    font-size: 30px;
    width: 50%; 
    margin: 0 auto; 
}

/* The sidepanel menu */
.sidepanel {
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed;
    z-index: 1; 
    top: 0;
    left: 0;
    background-color: #332d2d;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    margin: 0 auto;
    border-radius: 40px;
    padding-bottom: 22px;
}

.sidepanel a {
padding: 8px 8px 8px 32px;
text-decoration: none;
font-size: 25px;
color: #818181;
display: block;
transition: 0.3s;
}

.sidepanel a:hover {
color: rgb(82, 147, 150);
}

.sidepanel .closebtn {
position: absolute;
top: 0;
right: 25px;
font-size: 36px;
margin-left: 50px;
}

.openbtn {
font-size: 20px;
cursor: pointer;
background-color: #4d4b4b;
color: white;
padding: 10px 15px;
border: none;
border-radius: 40px;
}
  
.openbtn:hover {
background-color: #6f6062;
border-radius: 40px;
}

.second_paragraph{
    font-size: 30px;
    text-align: center;
    margin: 5px;
}

.img {
    align-items: center;
}

.LOGO{
    cursor: pointer;
    text-decoration: none;
    color: #847577;
    font-size: 60px;
}

.data-table {
    margin: 0;
    width: 70%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 20px;
}

.data-table th, .data-table td {
    border: 2px solid #a9a0a0;
    padding: 8px;
    text-align: left;
}

.data-table th {
    background-color: #4a5170;
    color: rgb(230, 227, 227);
}

.bar_chart{
    width: 70%;
    margin: 50px auto;
    align-items: center;
}

.pie_chart{
    width: 50%;
    height: 50%;
    margin: 50px auto;
    align-items: center;
}

.updates {
    text-align: center;
    color:#6f6062;
    padding: 0px;
    font-size: 30px;
    width: 100%; 
    margin: 20px;
    font-size: xx-large;
}

.images {
    width: 80%;
    height: 60%;
    margin: 50px auto;
    align-items: center;
}

.members-list {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: darkolivegreen;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mem_list_h2 {
    color: #f1f1f1;
    font-size: 25px;
}

.mem_list_ul {
    list-style-type: none;
    padding: 0;
    font-size: 20px;
}

.mem_list_li {
    margin: 10px 0;
    font-weight: bold;
}

.section{
    text-align: left;
    align-items: center;
    margin: 0;
}

.footer-content{
    float: right;
}